[submodule "themes/hugo-fresh"]
	path = themes/hugo-fresh
	url = https://github.com/efren-minsol/hugo-fresh.git
[submodule "themes/bulma"]
	path = themes/bulma
	url = https://github.com/jgthms/bulma.git
